.urlFilter-wrapper {
    margin-bottom: clampFluid(120);

    .container {
        border-bottom: 1px solid #D3D4D2;
        @media (max-width: 1230px) {
            width: clampFluid(341,659, 370, 1230);
        }
    }

    .urlFilter {
        display: grid;
        grid-template-columns: clampFluid(584) 100%;

        @media (max-width: 1230px) {
            grid-template-columns: 1fr;
        }

        .img-container {
            position: relative;
            width: 100%;
            height: clampFluid(591);
            padding-top: clampFluid(21);

            img {
                position: absolute;
                top: 13px;
                left: clampFluid(-444);
                width: clampFluid(997);
                height: clampFluid(591);
            }

            @media (max-width: 1230px) {
                display: none;
            }
        }


        &__main {
            .main-title {
                @include font-h2;
                margin-left: clampFluid(194);
                margin-bottom: clampFluid(72);

                @media (max-width: 1230px) {
                    margin-left: 0;
                    text-align: center;
                }
            }

            .filters {
                display: grid;
                grid-template-columns: max-content max-content max-content max-content;

                @media (max-width: 1230px) {
                    grid-template-columns: 1fr;
                    gap: clampFluid(30, 50, 370, 1230);
                }

                .houseSquare {
                    @media (max-width: 1230px) {
                        width: 100%;
                    }

                    .rangeSlider-wrapper {
                        &:first-child {
                            margin-bottom: clampFluid(49);
                        }

                        .title {
                            @include font-p;
                            color: $blackCol;
                            margin-bottom: clampFluid(52);
                            text-align: center;
                        }

                        .rangeSlider {
                            width: 100%;
                        }
                    }

                    width: clampFluid(252);
                    margin-right: clampFluid(90);
                }

                .filter {
                    .title {
                        @include font-p;
                        margin-bottom: clampFluid(16);
                        color: $blackCol;

                        @media (max-width: 1230px) {
                            margin-bottom: clampFluid(17, 30, 370, 1230);
                            text-align: center;
                        }
                    }

                    @media (max-width: 1230px) {
                        padding-left: clampFluid(0, 17, 370, 1230);
                    }
                }

                .checkboxList {
                    margin-right: clampFluid(40);
                    @media (max-width: 1230px) {
                        margin-right: 0;
                    }
                    .list {
                        padding-right: clampFluid(67);
                        display: flex;
                        flex-direction: column;
                        gap: clampFluid(15);
                        padding-left: 5px;

                        .checkbox-wrapper {
                            label {
                                @include font-p;
                            }
                        }

                        @media (max-width: 1230px) {
                            padding: 0;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: clampFluid(10, 30, 370, 1230) 14px;
                        }
                        @media (max-width: 530px) {
                            justify-content: space-between;
                        }
                    }

                    &:last-child {
                        width: 90%;
                        @media (max-width: 1230px) {
                           width: 100%;
                        }
                        margin-right: 0;

                        .list {
                            padding-right: 0;
                        }
                    }
                }

                @media (max-width: 1230px) {
                    .houseCategory {
                        margin-right: 0;

                        .list {
                            gap: 0;
                            justify-content: space-between;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }
            }

            .btn {
                margin-top: clampFluid(122);
                margin-left: clampFluid(93);
                margin-bottom: clampFluid(60);

                @media (max-width: 1230px) {
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: clampFluid(40, 60, 370, 1230);
                }
            }
        }
    }
}