.page-search {
    &__form {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 600px) {
            margin-top: 50px;
        }
    }

    &__input {
        height: 60px;
        border: 2px solid $greenCol;
        padding: 16px 25px 20px;
        width: 100%;
        margin-bottom: clampFluid(50);
        @include font-p;
        border-radius: 0;
        background: #F0F0F0;

        @media (max-width: 600px) {
            height: 52px;
        }
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        width: 23px;
        height: 23px;
        top: 19px;
        right: 47px;

        @media (max-width: 600px) {
            top: 16px;
            right: 25px;
        }

        svg {
            fill: $greenCol;
        }
    }

}

.search-result {
    &__item {
        margin-bottom: clampFluid(30, 60, 1025, 1920);

        @media (max-width: 1200px) {
            margin-bottom: clampFluid(40, 30, 500, 1025);
        }

    }

    &__title {
        display: block;
        @include font-h2;
        color: $greenCol;
        margin-bottom: 15px;
    }

    &__descr {
        @include font-p;
        color: #4E5249;
    }
}